[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = "*"
pipenv-setup = "*"
flake8 = "*"
autopep8 = "*"

[packages]
beets = "*"

[requires]
python_version = "3.8"

[scripts]
gensetup = "pipenv-setup sync"
