[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
beets = "*"

[dev-packages]
jedi = "*"
pipenv-setup = "*"
flake8 = "*"
autopep8 = "*"
